

body {
    margin: 0;
    background-color: white;
}

button {
    border: none;
    font-family: bnp_regular,Arial,sans-serif;
    font-size: inherit;
    cursor: pointer;
}
[class*=btn-], a[class*=btn-] {
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    padding: 15px 30px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(#fff,#f6f6f6);
    background-image: linear-gradient(#fff,#f6f6f6);
    color: #424242;
    border: 1px solid #dcdfe0;
    border-bottom: solid 2px #dcdfe0;
}
a.accent{
    color: #1da35f;
    text-decoration: none;
}
a.accent:hover{
    color: #1da35f;
}
a.push-right {
    transform: translateY(-50%);
    right: 1rem;
    position: absolute;
    top: 50%;
    font-size: .9rem;
    font-style: italic;
}
.btn-primary, a.btn-primary {
    color: #fff;
    background-color: #1da35f;
    background-image: -webkit-linear-gradient(#1da35f,#1b9a5a);
    background-image: linear-gradient(#1da35f,#1b9a5a);
    border-color: #188950;
    display: inline-block;
}
.btn-block {
    width: 100%;
    display: block;
}
.btn-primary:not([disabled]):hover {
    background-color: #197647;
    background-image: -webkit-linear-gradient(#197647,#248e59);
    background-image: linear-gradient(#197647,#248e59);
}
button:focus, input:focus, textarea:focus {
    outline: 0 none;
}
form button.btn.btn-primary.btn-block{
    position: absolute;
}

form.desktop.responsive button.btn.btn-primary.btn-block {
    top: 24.5vw;
}
form.tablet.responsive button.btn.btn-primary.btn-block {
    top: 42vw;
}
form.mobile.responsive button.btn.btn-primary.btn-block {
    top: 78vw;
}

.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
 }
.justify-content-left{
    justify-content: left;
}

.align-items-center{
    align-items: center;
}

.bg{
    max-width: 1400px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


.warning i {
    float: left;
    font-size: 2rem;
    margin-top: 0.4rem;
}
.content-bar {
    flex: 1;
}
.navbar a {
    flex: 1;
    text-align: center;
    padding: 1rem;
}
.navbar {
    display: flex;
    background-color: rgba(251, 249, 250, 1);
}
form.responsive input {
    position: absolute;
    width: 100%;
    left: 0;
    height: 12vw;
    font-size: 2rem;
    border-radius: 3px;
    color: #212121;
    box-shadow: inset 0 1px 2px 0 rgba(204,204,204,.4);
    border: 1px solid #1da460;
    padding: 10px 45px 6px 12px;
    box-sizing: border-box;
    font-family: bnpp_sansregular,Arial,sans-serif;
}
form.tablet.responsive {
    top: 44vw;
    width: 41.5vw;
}
form.desktop.responsive {
    top: 21.5vw;
    width: 29.5vw;
    left: 14.4vw;
    transform: none;
}
form.desktop.responsive input {
    height: 3.3vw;
}
form.tablet.responsive input {
    height: 6.3vw;
}
form.tablet.responsive #inputPassword {
    top: 14.9vw;
}
.keyboard-container{
    position: absolute;
    width: 100%;
    left: 0;
    top: 45vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form.tablet.responsive .keyboard-container {
    top: 23.4vw;
}

.keyboard-container button {
    width: calc(20% - 1px);
    height: 15vw;
    margin-bottom: 0.5vw;
    font-family: bnpp_sans_condensed_light,Arial,sans-serif;
    font-size: 1.6rem;
}
form.tablet.responsive .keyboard-container button {
    height: 7.5vw;
}

form.responsive {
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    top: 106vw;
    position: absolute;
}
.flashes {
    position: absolute;
    z-index: 1000;
    width: 400px;
    max-width: 100%;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}
.alert.alert-error.flash-message {
    background-color: #ffdada;
    color: #790707;
    padding: 1rem 2rem;
    border: solid 1px #ecc4c4;
    text-align: center;
}
form #inputUuid{
    top: 0;
}
form #inputPassword {
    top: 29vw;
}
form.desktop.responsive #inputPassword {
    top: 8vw;
}
form.desktop.responsive .keyboard-container {
    top: 12.5vw;
}
form.desktop.responsive .keyboard-container button {
    height: 5.4vw;
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .bg-tablet, .tablet{
        display: block;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .bg, .responsive{
        display: none;
    }
    .bg-desktop, .desktop{
        display: block;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .bg, .responsive{
        display: none;
    }
    .bg-tablet, .tablet{
        display: block;
    }
}



/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .bg, .responsive{
        display: none;
    }
    .bg-desktop, .desktop{
        display: block;
    }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .bg, .responsive{
        display: none;
    }
    .bg-tablet, .tablet{
        display: block;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .bg, .responsive{
        display: none;
    }
    .bg-tablet, .tablet{
        display: block;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .bg, .responsive{
        display: none;
    }
    .bg-tablet, .tablet{
        display: block;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .bg, .responsive{
        display: none;
    }
    .bg-tablet, .tablet{
        display: block;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .bg, .responsive{
        display: none;
    }
    .bg-tablet, .tablet{
        display: block;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .bg, .responsive{
        display: none;
    }
    .bg-tablet, .tablet{
        display: block;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .bg, .responsive{
        display: none;
    }
    .bg-tablet, .tablet{
        display: block;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .bg, .responsive{
        display: none;
    }
    .bg-mobile, .mobile{
        display: block;
    }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .bg, .responsive{
        display: none;
    }
    .bg-desktop, .desktop{
        display: block;
    }
}

.selfcare-footer > img{
    max-width: 100vw;
}
